.WiCelsius {
    width: auto;
    height: 43px;
    margin-left: -10px;
}

.WeatherText {
    text-align: center;
    font-size: 250%;
}

.FiveDaysForecast {
    text-align: center;
}

.between-heart-and-buttons {
    padding-right: 3px;
}

.hearts {
    width: auto;
    height: 25px;
}